* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif, arial !important;
    -webkit-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
a{
    text-decoration: none;
}
.main_wrapper {
    width: 100%;
}



#header .lego_left h2 {
    color: aliceblue;
    font-weight: bold;
    font-variant: small-caps;
    float: left;
    font-family: lato;
    font-size: 40px;
    padding: 35px 30px;
}

.fix {
    overflow: hidden;
}

.wrapper {
    width: 980px;
    display: block;
    margin: 0 auto;
}

#header nav {
    float: right;
}

#header > nav #menu {
    list-style-type: none;
}

#header > nav #menu li {
    float: left;
    border-right: 1px solid #001D26;
}

#header > nav #menu li:first-child {
    border-left: 1px solid #001D26;
}

#header > nav #menu li a {
    text-decoration: none;
    display: block;
    color: aliceblue;
    font-weight: bold;
    float: left;
    font-family: lato;
    font-size: 16px;
    padding: 50px 30px;
    font-variant: small-caps;
    border-bottom: 5px solid #1E1E1E;
}

#header > nav #menu li:hover a {
    color: #58C93A;
    border-bottom: 5px solid #58C93A;
}

#header > nav #menu li.active a {
    color: #58C93A;
    border-bottom: 5px solid #58C93A;
}

.header_bg {
    background-color: #292929;
}
.content_wrapper_bg{
    border-top: 5px solid #292929;
    margin-top: -5px;
    border-bottom: 1px solid #292929;
}
.content_wrapper {
    border-right: 1px solid #292929;
    border-left: 1px solid #292929;
    overflow: hidden;
    padding-top: 70px;
}

.left_content {
    float: left;
    width: 620px;
    margin-right: 70px;
}
.left_content .single_article {
    overflow: hidden;
    padding-bottom: 30px;
}
.left_content .single_article img{
    width: 620px;
    height: 308px;
}
.left_content .single_article h2{
    font-family: lato;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-left: 15px;
}
.left_content .single_article p{
    font-family:lato;
    font-size: 16px;
    text-align: justify;
    padding-left: 15px;
    margin-bottom: 30px;
}
.left_content .single_article .continue{
    color: rgb(177, 177, 177);
    font-family: lato;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #c2c2c2;
    display: inline-block;
    padding: 10px 40px;
    border-radius: 80px;
    margin-left: 15px;
    text-decoration: none;

}
.left_content .single_article .continue_BTM{
    color: rgb(177, 177, 177);
    font-family: lato;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #c2c2c2;
    display: inline-block;
    padding: 10px 40px;
    border-radius: 80px;
    margin-left: 15px;
    text-decoration: none;

}
#sidebar {
    float: right;
    width: 280px;
}

#sidebar .single_sidebar h2 {
    font-family: lato;
    font-size: 16px;
    font-weight: bold;
    border-left: 3px solid #58C93A;
    text-transform: uppercase;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #6c6969;
    background-color: #ebebeb;
   
}
#sidebar .single_sidebar p {
    font-family: lato;
    font-size: 16px;   
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #6c6969;
    text-align: justify;   
}
#sidebar .single_sidebar .search{
    float: right;
    width: 239px;
    border: 1px solid #E1E0E0;
    padding:20px;
    margin-top: 50px;
    border-right: none;
    height: 5px;
   

}
#sidebar .single_sidebar{
    margin-bottom: 50px;
    overflow: hidden;
}
.email_submit{
    position: relative;
    margin-top: 50px;

} 
.email_submit input{
    float: right;
    width: 275px;
    height: 50px;
    border: 1px solid #E1E0E0;
    text-indent: 20px;
}
.email_submit input[type="submit"] {
    background: url(img/search_icon.png) no-repeat;
    float: right;
    width: 24px;
    height: 24px;
    position: absolute;
    text-indent: -9999px;
    border: none;
    top: 15px;
    right: 20px;
    cursor: pointer;

}
.content_bottom {
    border-right: 1px solid #292929;
    border-left: 1px solid #292929;
    border-top: 1px solid #292929;
    padding: 25px 0;
}
.content_bottom a{
    color: gray;
}
.content_bottom .previous {
    color: 818181;
    font-family: lato;
    font-size: 18px;
    font-weight: bold;
    float: left;
    margin-left: 20px; 
}

.content_bottom .next {
    color: 818181;
    font-family: lato;
    font-size: 18px;
    font-weight: bold;
    float: right;
    margin-right: 20px;
}
.fooder_bg{
    background-color: #F8F8F8; 
}
.footer {
    text-align: center;
    padding-top: 50px;
 
}
.footer h1{
    color: #292929;
    font-weight: bold;
    font-size: 40px;
    font-family: lato;
    text-transform: uppercase;
}
.footer p{
    color: #292929;
    font-family: lato;
    font-size: 16px;
    padding-top: 15px;
}
.footer .social_icon {
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer .social_icon ul{
    list-style-type: none;

}
.footer .social_icon ul li{
    display: inline-block;
    margin: 0 10px;
}
.footer .social_icon ul li.facebook a{
    display: block;
    width: 40px;
    height: 40px;
    background:url(img/fb1.png)no-repeat;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
}
.footer .social_icon ul li.facebook:hover a{
    display: block;
    width: 40px;
    height: 40px;
    background:url(img/fb.png)no-repeat;
    
}

   

