@ font-face{
    font-family: "lato";
    src: url("../font/lato.eot"); format("eot"),
    src: url("../font/lato.woff"); format("woff"),
    src: url("../font/lato.ttf"); format("tff"),
    src: url("../font/lato.svg #lato"); format("svg");
}